<%= form_with model: @user, html: {class: 'max-w-md mt-6 bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4' } do |form| %>
<%= form.label :username, 'Username', class: "block text-gray-800 text-sm font-bold mt-4 mb-2"  %>
<%= form.text_field :username, class: 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500', required: true, placeholder: 'Taro' %>
<%= form.label :email, 'Email:', class: "block text-gray-800 text-sm font-bold mt-4 mb-2"  %>
<%= form.email_field :email, class: 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500', required: true, placeholder: 'taro@japaninc.com' %>
<%= form.label :password, 'Password:', class: "block text-gray-800 text-sm font-bold mt-4 mb-2"  %>
<%= form.password_field :password, class: 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500', required: true %>
  <div class="cta mt-6 flex items-center justify-end gap-x-6">
    <%= form.button @button_text, type: 'submit', class: "bg-blue-500 hover:bg-blue-700 rounded text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
  </div>
<% end %>
